* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    position: absolute;
    background: rgba(0, 0, 0, 0.486);
    top: 0;
    left: 0;
    width: 100%;
}

.container-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

header h2 {
    color: #ffff;
}

button {
    background-color: rgb(224, 146, 0);
    color: #ffff;
    border: none;
    font-weight: bold;
}

button:hover {
    background-color: rgb(167, 109, 2);
}

nav button {
    padding: 10px 15px;
    border-radius: 5px;
}

.main-contenedor {
    height: 100vb;
}

.foto {
    height: 100%;
    background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/12/51/77/a2/intro-restaurant-plaza.jpg?w=900&h=500&s=1");
    background-size: cover;
    background-repeat: no-repeat;
}

.contenedor-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 15px;
    background: rgba(0, 0, 0, 0.582);
    color: #ffff;
}

.contenedor-texto h2 {
    margin-bottom: 15px;
}

.contenedor-btn button {

    padding: 10px 15px;
    border-radius: 5px;
}

.contenedor-menu {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contenedor-menu article {
    border-radius: 10px;
    border: 1px solid #ffff;
    width: 40%;
    padding: 29px;
}

.contenedor-menu p {
    margin: 15px 0 30px
}

.container-contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}